@model LessonIndex;

@{
    ViewData["Title"] = "Lektionen";
}

<div class="text-center">
  <h1 class="display-4">Lektionen - @Model.Subject</h1>
  <partial name="_PageMessage"></partial>
  <p>
    <a asp-action="Create" asp-route-subject="@Model.SubjectToken" class="btn btn-primary">Lektion hinzufügen</a>
    <a asp-action="Index" asp-route-subject="" class="btn btn-link">zurück zur Gesamtübersicht</a>
  </p>
</div>
<table class="table">
  <tbody>
    @foreach(var lesson in Model.Lessons) {
    <tr>
      <td><a asp-action="Edit" asp-route-id="@lesson.Id">@lesson.Token</a></td>
      <td style="white-space:nowrap;">
        @(lesson.IsAppointment ? "🕗" : "")
        @(lesson.MustSend ? "✉️" : "")
      </td>
      <td>
        <p>
        <strong>@lesson.AppointmentTime</strong>
        @lesson.Task
        </p>
        <p>
          @foreach (var link in lesson.Links) {
            <svg width="10" height="10">
              <polygon points="2,0 8,5 2,10" />
            </svg>
            <a href="@link.Url">@(link.DisplayText ?? link.Url)</a><br>
          }
        </p>
      </td>
    </tr>
    }
  </tbody>
</table>
